app = 'twitch-watcher-go'
primary_region = 'fra'

[env]
  PORT = '8080'
  DATA_DIR = '/data'
  GOMEMLIMIT = "400MiB"
  GOGC = "50"

[mounts]
  source = "miner_data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[http_service.checks]]
  grace_period = "30s"
  interval = "60s"
  method = "GET"
  path = "/health"
  timeout = "5s"

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
